.wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;

  .avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .image {
      height: 100px;
      width: 100px;
      object-fit: cover;
      object-position: center;
    }

    .btn-wrapper {
      display: flex;
      gap: 8px;

      .label {
        min-height: 44px;
        min-width: 44px;
        padding: 4px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
      }

      button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 44px;
        min-width: 44px;
        padding: 4px;
      }
    }
  }

  .full-name-wrapper {
    input {
      min-height: 44px;
      min-width: 44px;
      padding: 4px;
      margin-right: 5px;
    }

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-height: 44px;
      min-width: 44px;
      padding: 4px;
    }
  }

  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 44px;
    min-width: 44px;
    padding: 4px;
  }
}