.specialOffer {
    width: 100%;
    /* margin-left: 5rem; */
}

.specialOffer>div {
    display: flex;
}

.recommend>div {
    display: flex;
}

.container {
    margin: 0.5rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 250px;
    height: 340px;
}

.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 12px 0;
}

.explore-wrapper-main h2 {
    margin: 1rem 0 1rem 0;
    text-align: center;
    font-size: 7rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px #212121;
}

.searchBar input {
    // margin-top: 10px;
    outline: 0;
    background: rgb(255, 255, 255, 0.5);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6rem 1rem;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
    width: 100%;
    // margin: 0 30rem;
}

.button-container {
    outline: 0;
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6em 5em;
    border-bottom: 2px solid #333;
    color: black;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button-container button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.325rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all .2s ease;
    text-decoration: none;
}

.button-container button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.explore-wrapper {
    background-color: rgba($color: #fff, $alpha: 0.125);
    // opacity: 50%;
    padding: 2rem;
    z-index: 3;
}

.explore-wrapper-bg {
    background-image: url('https://images.unsplash.com/photo-1507090960745-b32f65d3113a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGhvcml6b250YWwlMjB3YWxscGFwZXJ8ZW58MHx8MHx8fDA%3D');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.explore-wrapper-main {
    z-index: 1;
    opacity: 100%;
}

.button-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btnCari{
    outline: 0;
    background: rgb(255, 255, 255, 0.8);
    box-shadow: transparent 0px 0px 0px 1px inset;
    padding: 0.6rem 1rem;
    border-radius: 14px;
    border: 1px solid #333;
    color: black;
}