.product-wrapper {
    display: flex;
    flex-direction: row;
    padding: 8rem;
    gap: 4rem;
    // background-color: rgba($color: #fff, $alpha: 0.55);
}


.product-wrapper__main {
    // background-image: url('https://media.istockphoto.com/id/92214686/photo/plate-of-french-food.jpg?s=612x612&w=0&k=20&c=Ox4HVs7RrY28BNn6bskKl5z0QeG2KPCrbsfDjyABzs0=');
    background-color: #ededed;
    background-size: cover;
    background-repeat: no-repeat;
    // padding: 5rem;
}


.product-image img {
    width: 500px;
    height: 400px;
    box-shadow: 1px 12px 8px 2px rgba(14, 13, 13, 0.2);
    border-radius: 10px;
}

.product-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: bottom; */
}

.product-text h2 {
    font-size: 4rem;
}

.product-text__title {
    font-size: 4rem;
    font-weight: 300 bold;
}

.product-text__address {
    margin-top: -1.3rem;
    margin-bottom: 2rem;
    font-weight: 300;
}

.product-text__description {
    font-weight: 300;
    font-size: 1.1rem;
}

.product-text__price {
    font-size: 2.3rem;
    margin-top: 1.6rem;
    font-weight: 500;
    color: #000;
}

.product-text__quantity{
    font-size: 1.1rem;

}

.product-button {
    margin-top: 2rem;
    display: flex;
    gap: 10px;
}

.product-button button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    border-radius: 9999px;
    background-color: rgba(0, 0, 0, 1);
    padding: 0.625rem 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    outline: 0;
    transition: all .2s ease;
    text-decoration: none;
}

.product-button .product-button__addtocart {
    background-color: rgb(255, 255, 255, 0.08);
    color: #000;
}

.product-button button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 1);
}

.product-button .product-button__addtocart:hover {
    background-color: #000;
    color: rgb(255, 255, 255);
}