.login-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  .title-main {
    font-size: 32px;
  }

  .title-label {
    font-size: 28px;
    margin-top: 14px;
  }

  form {
    width: 100%;
    max-width: 400px;

    .input-wrapper {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      margin-top: 20px;

      .input-label {
        font-weight: 600;
        margin-bottom: 4px;
      }

      .input-area {
        padding: 12px;
        border-radius: 8px;
        outline: none;
        width: 100%;

        &:active {
          border: 2px solid green;
          outline: none;
        }

        &:focus {
          border: 2px solid green;
          outline: none;

        }
      }
    }

    button {
      min-height: 44px;
      min-width: 44px;
      padding-inline: 12px;
      border-radius: 8px;
      background-color: green;
      color: white;
      font-weight: 500;
      border: none;
      margin-top: 20px;
      width: 100%;
      font-size: 18px;
      cursor: pointer;


      &:hover {
        opacity: 0.9;
      }
    }

    .desc-text {
      display: flex;
      gap: 8px;
      justify-content: center;
      margin-top: 20px;
      font-weight: 600;
    }

    .forgot-password {
      display: flex;
      gap: 8px;
      justify-content: center;
      margin-top: 24px;
      font-weight: 600;

      .link {
        text-decoration: none;
      }
    }
  }
}