.wrapper-create-store {
    position: fixed;
    inset: 0;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .close-button {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .form {
        display: flex;
        flex-direction: column;
        padding: 8px;
        gap: 10px;
    }


    .avatar {
        display: inline-flex;
        flex-direction: column;

        .image {
            height: 100px;
            width: 100px;
            object-fit: cover;
            object-position: center;
        }

        .btn-wrapper {
            display: flex;
            gap: 8px;

            .label {
                min-height: 44px;
                min-width: 44px;
                padding: 4px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid black;
            }

            button {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                min-height: 44px;
                min-width: 44px;
                padding: 4px;
            }
        }

    }
}